.wraper {
    max-width: 50%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

@media (max-width: 577px) {
    .wraper {
        max-width: 90%;
    }
}

.wraper input {
    width: 100%;
}

.responseMessage {
    margin-inline: auto;
}

.buttonArea {
    margin-inline: auto;
}
