.wraper {
    max-width: 60%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.125rem;
}

@media (max-width: 577px) {
    .wraper {
        max-width: 100%;
    }
}

.wraper input {
    width: 100%;
    font-size: 1.125rem;
}

.responseMessage {
    margin-inline: auto;
}

.buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
    flex-wrap: wrap;

    button {
        font-size: 1.125rem;
    }
}
