.triggerButton {
    position: relative;
    padding-right: 2.125rem;
}

.dropdownMenu {
    position: absolute;
    background-color: var(--color-light);
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    overflow: hidden;
}

.itemButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: start;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}

.itemButton:hover {
    background-color: var(--color-gray);
}

.itemButton:disabled {
    opacity: 0.5;
}
