:root {
    --color-dark: #111827;
    --color-light: #f9fafb;
    --color-gray: #d1d5db;
    --color-blue: #3f83f8;
    --color-red: #e02424;
    --color-yellow: #fce869;
    --color-green: #057a55;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

body {
    font-size: 0.875rem;
    background-color: var(--color-light);
}

#root {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    max-width: 768px;
    margin: auto;
}

@media (max-width: 767px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 370px) {
    .container {
        max-width: 95%;
    }
}

main {
    padding-top: 2rem;
    padding-bottom: 20rem;
}

ul,
ol {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
    width: 100%;
    height: 8rem;
    font-size: inherit;
}

.input {
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    background-color: white;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    filter: drop-shadow(0.1rem 0.1rem 0.25rem var(--color-gray));
}

.input[type='text'] {
    width: 100%;
}

.input[type='number'] {
    width: 5rem;
}

.input:focus {
    border-color: var(--color-blue);
}

button i.bi,
.btn i.bi,
a i.bi {
    pointer-events: none;
    color: inherit;
}

.dropdown-icon {
    position: absolute;
    right: 0.75rem;
}

.btn {
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
    width: fit-content;
    transition: box-shadow 0.2s ease-in-out;
}

.btn:not(:disabled):hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.btn-dark {
    background-color: var(--color-dark);
}

.btn-light {
    background-color: #fff;
    color: #000;
    transition: background-color 0.2s ease-in-out;
}

.btn-light:hover {
    background-color: hsl(216, 12%, 90%);
}

.btn-blue {
    background-color: var(--color-blue);
}

.btn-red {
    background-color: var(--color-red);
}

.btn-yellow {
    background-color: var(--color-yellow);
    color: #000;
}

.btn-green {
    background-color: var(--color-green);
}

.btn-link {
    font-size: 1rem;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

.btn-circle {
    border-radius: 100%;
    text-align: center;
    padding: 0.5rem;
}

.btn-remove-item {
    background-color: transparent;
    border: none;
    color: var(--color-red);
    font-size: inherit;
    line-height: 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.btn-remove-item:hover {
    color: lightcoral;
}

.btn-dropdown-item {
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: start;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}

.btn-dropdown-item:hover {
    background-color: var(--color-gray);
}

.btn-dropdown-item:disabled {
    opacity: 0.5;
    cursor: default;
}

.text-white {
    color: #fff;
}

.text-dark {
    color: var(--color-dark);
}

.text-blue {
    color: var(--color-blue);
}

.text-red {
    color: var(--color-red);
}

.text-green {
    color: var(--color-green);
}

.errorToast svg {
    color: #fff;
}
