.header {
    padding-block: 1.375rem;
    background-color: var(--color-dark);
}

.title {
    display: block;
    width: fit-content;
    margin-inline: auto;
}

.title h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.buttonsArea {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-block: 1.25rem;
}
