.header {
    padding-block: 2rem;
    background-color: var(--color-dark);
}

.title {
    width: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

h1 {
    line-height: 0;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
}

.title img {
    height: 3.875rem;
}

@media (max-width: 577px) {
    h1 {
        font-size: 2rem;
    }

    .title img {
        height: 3.275rem;
    }
}

.buttonsArea {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
