.inputWraper {
    display: flex;
}

.inputWraper > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.inputWraper > button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
}
