.title {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
}

.redirectLink {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 0.25rem;
    padding-inline: 0.25rem;
}

.redirectLink a {
    text-decoration: underline;
}

@media (max-width: 375px) {
    .redirectLink a {
        display: block;
    }
}
